<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} {% endblock %} </title>
</head>
<body>
	<main>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/forum">Forum</a>
				{% if user.is_authenticated %}
					<a href="{% url 'logout' %}">Log Out</a>
				{% else %}
					<a href="{% url 'login' %}">Log In</a>
					<a href="{% url 'signup' %}">Sign up</a>
				{% endif %}
			</nav>


			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}	

		</header>
		<hr>

		{% block content %}	{% endblock %}
	</main>
</body>
</html>