{% extends "base.html" %}
{% load humanize %}

{% block title %} {{object.title}} {% endblock %}

{% block content %}
	<h2> {{object.title}} </h2>
	<p> {{object.desc}} </p>
	- <time> {{object.created_at | naturaltime}} </time>
	
	<hr>

	{% if request.user == object.user %}
		<a href="{% url 'forum-edit' object.id %}"> Edit Forum </a>

		<form method="POST" action="{% url 'forum-delete' object.id %}">
			{% csrf_token %} 
			<input type="submit" value="delete">
		</form>
	{% endif %}

	<hr>

	{% for comment in object.comment_set.all  %}
		<p> {{comment.desc}} </p>
	{% endfor %}

	<form method="post" action="{% url 'comment-add' object.id %}">
		{% csrf_token %}
		{{ form_comment }}
		
		<input type="submit" value="Send Comment">
	</form>

	
{% endblock %}