{% extends "base.html" %}
{% load humanize %}

{% block title %} List Forum{% endblock %}

{% block content %}
	<h2>List Forum</h2>
	<ul>
		{% for forum in object_list %}
			<li>
				<a href="{% url 'forum-detail' forum.slug %}">{{forum.title}}</a>
				- by <a href="{% url 'forum-by' forum.user %}">{{forum.user}}</a>
				- / {{forum.created_at | naturaltime}}
			</li>
		{% endfor %}
	</ul>

	{% include "snippets/pagination.html" %}

	<hr>

	{% if user.is_authenticated %}
		<a href="/forum/add">Add Forum</a>
	{% endif %}

{% endblock %}